@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.auth {
  height: 120px;
}

.board {
  background-color: blue;
  height: 100vh;
}yarn 

.cell {
  height: 100%;
  width: 100%;
}

.ship {
  background-size: 100%;
  /* background: contain; */
  background-repeat: no-repeat;
  border-radius: 100%;
}

.selected-ship {
  z-index: 8;
}

.up, .down, .right, .left {
  position: relative;
}

.up:after, .down:after, .right:after, .left:after,
.up.sunk:after, .down.sunk:after, .right.sunk:after, .left.sunk:after {
  display: block;
  position: absolute;
  text-align: left;
  content: ' ';
  width: 208px;
  height: 208px;
  top: calc(50% - 208px * 0.5);
  left: calc(50% - 208px * 0.5);
}
.up:after     { background-image: url('/img/blueship_up.png'); }
.down:after   { background-image: url('/img/blueship_down.png'); }
.left:after   { background-image: url('/img/blueship_left.png'); }
.right:after  { background-image: url('/img/blueship_right.png'); }

.up.sunk:after    { background-image: url('/img/blueship_up_sunk.png'); }
.down.sunk:after  { background-image: url('/img/blueship_down_sunk.png'); }
.right.sunk:after { background-image: url('/img/blueship_right_sunk.png'); } 
.left.sunk:after  { background-image: url('/img/blueship_left_sunk.png');}


.explosion {
  position: relative;
  z-index: 10;
}

.explosion:after {
  display: block;
  position: absolute;
  text-align: left;
  content: ' ';
  width: 64px;
  height: 64px;
  top: calc(50% - 64px * 0.5);
  left: calc(50% - 64px * 0.5);
  background-image: url('/img/explosion1.png');
  background-size: 100%;
}






.ship-stats {
  font-size: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  color: red;
}

.team1 {
  background-color: rgba(191,0,0,0.3);
}

.team2 {
  background-color: rgba(0,0,191,0.3);
}

/* .movement-button {
} */

.movement-button {
  background-color: rgba(191,0,0,0.3);
  /* background-image: url('/img/arrow.png'); */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* transform: scale(25%); */
  /* opacity: .3; */
}

/* .move-up     { transform: rotate(180deg); } */
/* .move-left   { transform: rotate(90deg); } */
/* .move-right  { transform: rotate(270deg); } */

.water, .lobby {
  background-image: url('/img/waterOk_blur.png');
  
}

.land {

}

.wreck {

}

.join-game, .leave-game {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 100%;
  border-width: 3px;
  border-color: rgb(255,191,0);
  font-family: 'IM Fell English SC', serif;
  font-size: 20px;
  color: rgb(255,191,0);
  text-shadow: 3px 2px 3px rgb(32,32,32), 0px 0px 20px rgb(0,0,0);
  text-align: center;
  vertical-align: middle;
}

.leave-game {
  line-height: 100px;
}

.winner-banner, .exit-banner {
  position: absolute;
  text-align: center;
  top: 50%;
  left: calc(50% - 115px);
  font-family: 'IM Fell English SC', serif;
  font-weight: bold;
  font-size: 1.2em;
  text-shadow: 0px 0px 4px rgba(0,0,0,0.6);
  color: rgb(235, 176, 0);
  border: 1px solid rgba(230, 230, 230, 0.7);
  border-radius: 8px;
  background-color: rgba(24, 24, 75, 0.893);
  box-shadow: 3px 2px 3px rgb(32,32,32);
  padding: 20px;
  z-index: 10;
}

.current-player {
  z-index: 6;
}

.lobby {
  position: relative;
}

.available-component {
  position: absolute;
  width: 100%;
  top: 5vh;
}

.available-header {
  font-family: 'IM Fell English SC', serif;
  color: rgb(255,191,0);
  text-shadow: 3px 2px 3px rgb(32,32,32), 0px 0px 20px rgb(0,0,0);
}

.available-list {
  list-style: none;
  width: 50vw;
  /* max-width: 25vw; */
  margin-left: auto;
  margin-right: auto;
}

.available-player {
  font-family: 'IM Fell English SC', serif;
  font-weight: bold;
  font-size: 1.2em;
  text-shadow: 0px 0px 4px rgba(0,0,0,0.6);
  color: rgb(235, 176, 0);
  border: 1px solid rgba(230, 230, 230, 0.7);
  border-radius: 8px;
  background-color: rgba(24, 24, 75, 0.893);
  box-shadow: 3px 2px 3px rgb(32,32,32);
  margin-bottom: 4px;
}

.available-player:hover {
  color: rgb(255,255,255);
  border-color: rgba(255,191,0,1);
  background-color: rgba(191,127,0,0.9);
  box-shadow: 3px 2px 2px rgb(0,0,0);
}

.active-component {
  position: relative;
}

.active-header {
  font-family: 'IM Fell English SC', serif;
  color: rgb(255,191,0);
  text-shadow: 3px 2px 3px rgb(32,32,32);
}

.active-list {
  list-style: none;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.active-game {
  font-family: 'IM Fell English SC', serif;
  font-weight: bold;
  font-size: 1.2em;
  text-shadow: 0px 0px 4px rgba(0,0,0,0.6);
  color: rgb(235, 176, 0);
  border: 1px solid rgba(0,0,0,0.7);
  border-radius: 8px;
  background-color: rgba(201, 0, 0, 0.893);
  box-shadow: 3px 2px 3px rgb(32,32,32);
  margin-bottom: 4px;
}